@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");

.navbar {
    font-family: 'Jaldi', sans-serif;
    font-size: x-large;
    background-image: linear-gradient(-135deg, #30b1ce, #29a4c3, #318db2, #046997, #003b61);
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 5vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-content {
    display: flex;
    align-items: center;
}


.navbar-title {
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.1s;
}

.navbar-title:hover {
    text-shadow: 0 0 5px #ffe6c2;
    color: #003b61;
}

.seahorse-link {
    display: flex;
    align-items: center;
}

.seahorse {
    width: 3vmax;
}

